{% extends "afroquotes/layout.html" %} {% load static %} {% block body %} {% if message %} {{message}} {% endif %} 

    <div class="row">
        <div class="col-sm-12 col-md-8 gedf-main"> 
            {% for quote in quotes %} 
            <div class="card gedf-card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <img class="rounded-circle" width="60" src="{{quote.image}}" alt="">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">{{quote.artist}}</div>
                                <div class="h7 text-muted">{{quote.song}}</div>
                            </div>
                        </div>
                        <div>
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                    <div class="h6 dropdown-header">Configuration</div>
                                    <a class="dropdown-item" href="#">Save</a>
                                    <a class="dropdown-item" href="#">Hide</a>
                                    <a class="dropdown-item" href="#">Report</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-muted h7 mb-2">
                        <i class="fa fa-clock-o"></i>{{quote.timestamp}}
                    </div>
                    <a class="card-link" href="#">
                        <h5 class="card-title">{{quote.quote}}</h5>
                    </a>
                    <p class="card-text"></p>
                </div>
                <div class="card-footer">
                    <i class="fa fa-solid fa-eye view-count">
                        {{quote.annotation.annotation_view_count}}
                    </i>
                    <button class="card-link view-annotation" type="button" aria-expanded="false" aria-controls="" data-toggle="collapse" data-clicked="false" data-link="{{quote.annotation.id}}" data-target="#quote_{{quote.id}}">
                        <i class="fa fa-comment"></i> See annotation </button>
                    <a href="#" class="card-link">
                        <i class="fa fa-mail-forward"></i> Share </a>
                </div>
                <div class="collapse" id="quote_{{quote.id}}" data-link="{{quote.annotation.id}}">
                    <div class="card card-body"> {% if quote.annotation.annotation %} <div class="h7 text-muted"> annotated by: {{quote.annotation.annotator}}
                        </div>
                        <div>
                            <a class="card-link upvote" data-link="{{quote.annotation.id}}">
                                <i class="fa fa-solid fa-circle-up">{{quote.annotation.upvotes}}</i>
                            </a>
                        </div>
                        {{quote.annotation.annotation}}
                        <button class="card-link suggestion_form" data-link="{{quote.annotation.id}}" data-target="#comment_{{quote.annotation.id}}" type="button" aria-expanded="false" aria-controls="" data-toggle="collapse">
                            <i class="fa fa- fa-comment">
                                <span class="badge bg-secondary">{{quote.annotation.comments|length}}</span>
                            </i>
                        </button>
                    </div> {% else %} There's no annotation for this quote yet. <button class="btn btn-secondary" type="button" aria-expanded="false" aria-controls="" data-toggle="collapse" data-target="#annotate_{{quote.annotation.id}}">
                        <i class="fa fa-comment"></i> Annotate </button> {% endif %}
                </div>
            </div>
            <div class="collapse" id="annotate_{{quote.annotation.id}}" data-link="annotate_{{quote.annotation.id}}">
                <div class="card card-body"> {% if form.annotation.errors %} Annotation Field Error: {{ form.annotation.errors }} {% endif %} <form action="{% url 'submit_annotation' quote.id %}" method="POST"> {% csrf_token %} <input type="hidden" name="quote_id" value="{{quote.id}}">
                        <div class="form-group">
                            <input class="form-control" name="annotation" placeholder="Annotate" type="text">
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="collapse" id="comment_{{quote.annotation.id}}" data-link="">
                <div class="search col-10">
                    <form id="suggestion_form">
                        <input type="hidden" name="comment_anno_id" value="{{quote.annotation.id}}">
                        <input id="" placeholder="Suggest annotation improvement" type="text" name="comment">
                        <button type="submit" class="btn btn-primary">submit</button>
                    </form>
                </div>
                <div>{% if quote.annotation.comments %} <h4 class="h6">Suggested Improvements</h4>{% endif %} </div> {% for comment in quote.annotation.comments %} 
                <div class="card card-body">
                    <div class="text-muted h7 mb-2">
                        <i class="fa fa-clock-o"></i>
                        {{quote.quote.timestamp}}
                    </div>
                    <a class="card-link" href="#">
                        <h5 class="card-title"></h5>
                    </a>
                    <p class="card-text">
                        {{comment.suggestion}}
                    </p>
                </div> {% endfor %}
            </div> 
            {% endfor %}
        </div>
    </div>
    </div>
        <div class="col-sm-12 col-md-4">
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">All Time 100</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">These are the top viewed and shared quotes of all time.</p>
                    <a href="{% url 'quote_chart' slug='top100' %}" class="card-link">View </a>
                </div>
            </div>
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">Top 10 Weekly</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Week: </h6>
                    <p class="card-text">These are the top viewed, shared quotesa nd annotations this week.</p> {% url 'quote_chart' 'top10' as top_10 %} <a href="{{top_10}}" class="card-link">View</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}